.thethreelists {
  display: flex;
  flex-direction: row;
}
.titleandlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wholething {
  display: flex;
  justify-content: center;
}
